@import "tailwindcss";

:root {
    --background: #F5DEB3;
    --foreground: #644536;
}

@theme {
    --color-navajo-white: var(--background);
    --color-coffee-bean: var(--foreground);
    --color-light-brown: #987554;
    --color-copper: #b87d48;
    --color-toffee-brown: #9e6240;
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
