@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
@import "tailwindcss";

:root {
    --background: #F5DEB3;
    --foreground: #644536;
}

@theme {
    --color-navajo-white: var(--background);
    --color-coffee-bean: var(--foreground);
    --color-light-brown: #987554;
    --color-copper: #b87d48;
    --color-toffee-brown: #9e6240;
    --font-oleo: var(--font-oleo);
    --font-oleo-bold: var(--font-oleo-bold);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-oleo), Arial, Helvetica, sans-serif;
}
